/* ========== 全局樣式設定 ========== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background-color: #1f1f1f;
  height: 100%;
}

.noto-sans-sc {
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ========== 主應用容器 ========== */
.App {
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ========== 頁首樣式 ========== */
.header {
  background-color: #141414;
  padding: 10px 20px;
  color: white;
  text-align: center;
}

.header-title {
  margin: 0;
  font-size: 26px;
  font-weight: bold;
}

.header-nav {
  margin-top: 10px;
}

.header-link {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

/* ========== 頁尾樣式 ========== */
.footer {
  position: relative;
  width: 100%;
  background: #141414;
  color: #f8fafc;
  padding: 0.5rem;
  text-align: center;
  box-sizing: border-box;
  min-height: 50px;
  margin-top: auto;
}

.tag-list {
  width: auto;
  max-width: 90%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem 0;
  margin: 0 auto;
  padding: 1.5rem;
  overflow: hidden;
}

.loop-slider .inner {
  display: flex;
  width: fit-content;
  animation-name: loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: var(--direction);
  animation-duration: var(--duration);
}

.tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #e3e5e9;
  font-size: 0.9rem;
  background-color: #1f1f1f;
  border-radius: 0.4rem;
  padding: 0.6rem 1rem;
  margin-right: 1rem;
  box-shadow: 0 0.1rem 0.2rem rgb(0 0 0 / 20%), 0 0.1rem 0.5rem rgb(0 0 0 / 30%),
    0 0.2rem 1.5rem rgb(0 0 0 / 40%);
  white-space: nowrap;
  span {
    font-size: 1.2rem;
    color: #777777;
  }
}

.fade {
  pointer-events: none;
  background: linear-gradient(
    90deg,
    #0a0a0a,
    transparent 30%,
    transparent 70%,
    #0a0a0a
  );
  position: absolute;
  inset: 0;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ========== 主內容 ========== */
.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin: 40px auto;
  max-width: 2000px;
  flex-wrap: nowrap;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  border-top: 2px dashed #ccc;
  margin: 15px 15px;
}

h1 {
  margin-top: 10px;
}
h3 {
  margin-top: 10px;
}

/* ========== 地圖 ========== */
.map-page {
  border: 1px solid #525252;
  border-radius: 10px;
  background-color: #333333;
  display: flex;
  width: 1050px;
  height: 1180px;
  justify-content: center;
  color: #e2e8f0;
}

.map-heading {
  font-size: 30px;
  margin: 15px 0 15px 0;
}

.controls select {
  padding: 2.5px;
  border: 1px solid #e2e8f0;
  border-radius: 20px;
  background-color: #474747;
  font-size: 15px;
  color: #e2e8f0;
}

.map-container {
  border: 1px solid #525252;
  border-radius: 10px;
  padding: 6px;
  background-color: #474747;
  width: 1000px;
  height: 1000px;
  margin: 10px auto 15px auto;
}

.earthquake-info {
  background-color: #525252;
  color: #e2e8f0;
}

.earthquake-info a {
  color: inherit;
}

.leaflet-popup-content-wrapper {
  background-color: #525252;
}

.leaflet-popup-tip {
  background-color: #525252;
}

.text-with-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.green-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 255, 0, 0.3);
  border-radius: 50%;
}

.red-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 0, 0, 0.4);
  border-radius: 50%;
}

/* ========== 地震資訊 ========== */
.data-page {
  display: flex;
  justify-content: center;
  border: 1px solid #525252;
  border-radius: 10px;
  background-color: #333333;
  width: 525px;
  height: 1180px;
  color: #e2e8f0;
}

.data-heading {
  font-size: 30px;
  margin: 15px 0 15px 0;
}

.data-container {
  width: 500px;
  height: 1080px;
  overflow-y: auto;
  scrollbar-width: none;
}

/* ========== 地震小知識 ========== */
.knowledge-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #e2e8f0;
  background-color: #1e1e1e;
  min-height: 100vh;
  margin: 0;
}

.knowledge-container {
  width: 1300px;
  background-color: #333333;
  border: 1px solid #525252;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  padding-inline: 30px;
  margin-bottom: 20px;
}

.wave-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 1300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.wave-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333333;
  border: 1px solid #525252;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  height: 550px;
  box-sizing: border-box;
}

.wave-item h3 {
  margin-bottom: 10px;
}

.wave-item ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  text-align: left;
  padding-left: 30px;
  flex: 1;
  font-size: 16px;
}

.wave-item img {
  width: 400px;
  margin: 0 auto;
  margin-top: auto;
}

.knowledge-container2 {
  width: 1300px;
  background-color: #333333;
  border: 1px solid #525252;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  padding-inline: 30px;
  margin-bottom: 20px;
}

.knowledge-container2 ul {
  padding: 0;
  list-style-type: disc;
  text-align: left;
  padding-left: 250px;
  flex: 1;
  font-size: 16px;
  margin-top: 6px;
}

.knowledge-container2 h2 {
  margin-bottom: 0px;
}

.knowledge-container2 p {
  margin-top: 6px;
}

.wave-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 1300px;
  margin: 0 auto;
  align-items: stretch;
}

.wave-item-left {
  grid-column: span 1;
  background-color: #333333;
  border: 1px solid #525252;
  border-radius: 10px;
  padding: 20px;
  padding-inline: 30px;
  color: #e2e8f0;
  flex-direction: column;
}

.wave-item-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wave-item-box {
  background-color: #333333;
  border: 1px solid #525252;
  border-radius: 10px;
  padding: 20px;
  color: #e2e8f0;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-inline: 30px;
}

.wave-item-left h2 {
  margin-top: 35px;
  margin-bottom: 0px;
}

.wave-item-left ul {
  padding: 0;
  list-style-type: disc;
  text-align: left;
  padding-left: 110px;
  flex: 1;
  font-size: 16px;
  margin-top: 6px;
}

.wave-item-box h1 {
  margin-bottom: 4px;
  /* margin-top: 10px; */
}

.wave-item-box p {
  margin-bottom: 4px;
}

/* ========== 聯絡我們 ========== */
/* 專屬 ContactPage 的樣式 */
.contact-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #09090c;
  font-family: "Inter", sans-serif;
  color: white;
}

/* shiny-cta 按鈕樣式 */
.contact-page .shiny-cta {
  --shiny-cta-bg: #000000;
  --shiny-cta-bg-subtle: #1a1818;
  --shiny-cta-fg: #ffffff;
  --shiny-cta-highlight: blue;
  --shiny-cta-highlight-subtle: #8484ff;

  --animation: gradient-angle linear infinite;
  --duration: 3s;
  --shadow-size: 2px;

  isolation: isolate;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline-offset: 4px;
  padding: 1.25rem 2.5rem;
  font-family: inherit;
  font-size: 1.5rem;
  line-height: 1.2;
  border: 1px solid transparent;
  border-radius: 360px;
  color: var(--shiny-cta-fg);
  background: linear-gradient(var(--shiny-cta-bg), var(--shiny-cta-bg))
      padding-box,
    conic-gradient(
        from calc(var(--gradient-angle) - var(--gradient-angle-offset)),
        transparent,
        var(--shiny-cta-highlight) var(--gradient-percent),
        var(--gradient-shine) calc(var(--gradient-percent) * 2),
        var(--shiny-cta-highlight) calc(var(--gradient-percent) * 3),
        transparent calc(var(--gradient-percent) * 4)
      )
      border-box;
  box-shadow: inset 0 0 0 1px var(--shiny-cta-bg-subtle);
  transition: 800ms cubic-bezier(0.25, 1, 0.5, 1);
  transition-property: --gradient-angle-offset, --gradient-percent,
    --gradient-shine;
  animation: gradient-angle 3s linear infinite;
}

.contact-page .shiny-cta::after {
  content: "";
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  translate: -50% -50%;
  width: 100%;
  aspect-ratio: 1;
  background: linear-gradient(
    -50deg,
    transparent,
    var(--shiny-cta-highlight),
    transparent
  );
  mask-image: radial-gradient(circle at bottom, transparent 40%, black);
  opacity: 0.6;
  animation: shimmer 3s linear infinite;
}

.contact-page .shiny-cta:is(:hover, :focus-visible) {
  --gradient-percent: 20%;
  --gradient-angle-offset: 95deg;
  --gradient-shine: var(--shiny-cta-highlight-subtle);
}

@keyframes gradient-angle {
  to {
    --gradient-angle: 360deg;
  }
}

@keyframes shimmer {
  to {
    rotate: 360deg;
  }
}

@keyframes breathe {
  from,
  to {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
}

/* ========== 光影效果 ========== */
.hover-effect {
  position: relative;
  overflow: hidden;
}

.hover-shadow {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  box-shadow: 0px 0px 100px 80px rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.8s, transform 0.8s;
  pointer-events: none;
}

.hover-shadow.active {
  opacity: 1;
  transform: scale(1.5);
}

/* ========== 天氣 Map ========== */
.map-page2 {
  border: 1px solid #525252;
  border-radius: 10px;
  background-color: #333333;
  display: flex;
  width: 1050px;
  height: 1150px;
  justify-content: center;
  color: #e2e8f0;
}

/* ========== 天氣 Data ========== */
.data-page2 {
  display: flex;
  justify-content: center;
  border: 1px solid #525252;
  border-radius: 10px;
  background-color: #333333;
  width: 525px;
  height: 1150px;
  color: #e2e8f0;
}

.data-container2 {
  width: 500px;
  height: 980px;
  overflow-y: auto;
  scrollbar-width: none;
}

.data-container3 {
  width: 500px;
  height: 1030px;
  overflow-y: auto;
  scrollbar-width: none;
}

.data-container3 img {
  margin: 10px;
  width: 120px;
}

.town-box {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  border: 3px solid #525252;
  border-radius: 10px;
  padding: 0.6rem;
  /* padding-bottom: 0rem; */
  margin-bottom: 2.5rem;
  background-color: #303030;
}

.town-box h2 {
  margin: 0px auto 10px auto;
}

.WD-group {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  border: 2px dashed #525252;
  border-radius: 10px;
  padding: 0.6rem;
  padding-bottom: 0rem;
  margin-bottom: 1rem;
  background-color: #2b2b2b;
}

.WD-future-container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #333333;
  white-space: nowrap;
  padding: 0.5rem;
  margin-bottom: 10px;
}

.WD-future-container2 {
  display: inline-block;
  min-width: 240px;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px dotted #888;
  border-radius: 10px;
  background-color: #333333;
  white-space: pre-wrap;
  text-align: center;
  color: #e2e8f0;
}

.WD-future-container2 p {
  margin: 0;
}

/* ========== 其他設備樣式 ========== */
@media (max-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .content {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px auto;
  }

  .data-container p {
    word-wrap: break-word;
    line-height: 1.5;
  }

  .map-page {
    width: 98%;
    height: auto;
    padding: 4px;
  }

  .map-page2 {
    width: 98%;
    height: auto;
    padding: 4px;
  }

  .map-container {
    width: 50vh;
    height: 50vh;
  }

  .data-page {
    width: 98%;
    height: 650px;
  }

  .data-page2 {
    width: 98%;
    height: 700px;
  }

  .data-container {
    width: 100%;
    height: 550px;
  }

  .footer {
    bottom: 0;
    width: 100%;
    z-index: 10;
    background: #161616;
  }

  .wave-container {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 0 auto 10px auto;
    gap: 10px;
  }

  .wave-item {
    height: auto;
    padding: 15px;
  }

  .wave-item img {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .knowledge-container {
    width: 98%;
    margin-bottom: 10px;
    padding: 8px;
    padding-inline: 20px;
  }

  .knowledge-container2 {
    width: 98%;
    margin-bottom: 10px;
    padding: 8px;
    padding-inline: 20px;
  }

  .wave-container2 {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 0 auto;
    gap: 10px;
  }

  .knowledge-container2 ul,
  .wave-item-left ul {
    /* text-align: center; */
    padding-left: 30px;
  }

  .wave-item-right {
    gap: 10px;
  }

  .data-container2 p {
    word-wrap: break-word;
    line-height: 1.5;
  }

  .data-container2 {
    width: 100%;
    height: 535px;
  }

  .data-container3 {
    width: 100%;
    height: 600px;
  }

  /* .WD-group {
    width: 50vh;
  } */

  .town-box {
    width: 50vh;
  }
}
